# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock
**/*.iml
**/.idea/
**/.vscode/

# macOS
**/*.xcworkspace/xcuserdata/
**/Pods/
**/macos/Flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db
